@font-face {
  font-family: "Canopee";
  src: url("./Font/Canopee-Regular.woff") format("woff");
}
:root {
  --main-bg: #1d1d1b;
  --main-font: "canopee", sans-serif;
}
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "canopee", sans-serif;
}
.nav {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-open {
  font-size: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
  font-family: var(--main-font);
  z-index: 9;
}
.hero-logo {
  font-size: 2rem;
  z-index: 9;
}
.menu-logo {
  font-size: 2rem;
}
.container {
  /* height will change later  */
  height: 0;
  background-color: var(--main-bg);
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  font-family: var(--main-font);
}
.menu-close {
  font-size: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
  font-family: var(--main-font);
}
.nav-list {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.list-item {
  overflow: hidden;
}
.item {
  font-size: 8rem;
  font-weight: 700;
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
}
.item a {
  color: #fff;
}
.social-item {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.social-link {
  font-size: 0.8rem;
  opacity: 0;
}
.social-link a {
  color: #999;
}

/* Media Query  */

@media only screen and (max-width: 480px) {
  .nav {
    padding: 2rem;
  }
  .hero-logo,
  .menu-logo {
    font-size: 1.5rem;
  }
  .item {
    font-size: 5rem;
  }
}
